
/* @keyframes fade {50%{opacity:0;}}
@keyframes fade-in {50%{opacity:1;}} */

::selection {
  background:lightgray;
  color:whitesmoke;
}

*, *:before, *:after { box-sizing: border-box; margin: 0; padding: 0;}

html, body {
  overscroll-behavior: none;
}

body {
    /* this spacing relates to the arena blocks and to the general font size */
    --spacing:0.5em;
    --grey: rgba(109, 109, 109);
    --greyopacity: rgb(109 109 109 / 15%);
    --maxwidth:1200px;
    background-color: white;


    font-family: 'EB Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    line-height: 1.15em;

    font-size:18px;
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
  user-select:none;
  -webkit-user-select:none;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0.4em 0.5em 0.5em 0.5em;
  left:0;
  right:0;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--maxwidth);
}

header a {
  font-size: 1.2em;
  display: block;
  color: var(--grey);
  text-align: left;
  text-decoration: none;
  user-select:none;
  -webkit-user-select:none;
}

header a:hover:not(.active) {
  text-decoration: underline;
  text-decoration-style: solid;
}

header a.active {
  text-decoration: underline;
  text-decoration-color: var(--grey);
}
header .logo img {
  max-width: 170px;
  margin-right: 0.5em;
}
header .logo:hover:not(.active) {
  opacity:0.7;
}
header .links {
  display:flex;
  gap: .5em;
}
header .links a:after {
  content:','
}
header .links a:last-child:after {
  content:'';
}

/* for arena */
/* body, section, ul, li, address {
	display: grid;
	gap: var(--spacing);
  padding: 0;
} */

main {
  width: 100%;
  padding: 4em .5em;
  max-width:var(--maxwidth);
  margin:0 auto;
  /* animation: fade 5s forwards; */
  /* animation-iteration-count: infinite;
  animation-play-state: running; */
}

/* main :hover{
  animation: fade-in 0.1s;
} */

/* .container {
	position: fixed;
  overflow: hidden;
} */

/* this is the main place for grid formating*/
.container ul {
  list-style-type: none;
  padding: 0px;
  display: grid;
	gap: var(--spacing);
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(6,16%);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  "p p t t c c"
  "p p a a f f"
  "p p a a f f"
  "p p g g f f"
  "p p h h f f";
  align-items: stretch;
  justify-items: space-around;
}

/* arena items */
.container ul li:nth-child(1) {
  grid-area: c;
  /* border: 1px dotted var(--greyopacity); */
  color: rgba(109, 109, 109, 0.7);
}
.container ul li:nth-child(2) {
  grid-area: f;
}
.container ul li:nth-child(3) {
  grid-area: p;
  padding: 0px;
}
.container ul li:nth-child(3) img {
  /* max-height: 70vh; */
  width:100%;
  cursor: zoom-in;
}
.container ul li:nth-child(4) {
  grid-area: t;
  /* border: 1px dotted var(--greyopacity); */
}
.container ul li:nth-child(5) {
  grid-area: a;
}

.container ul li:nth-child(6) {
  display: none;
}
.container ul li:nth-child(7) {
  grid-area: g;
}
.container ul li:nth-child(8) {
  grid-area: h;
}

/* table */
table, td{
  padding: 2px 2px;
  color: rgba(109, 109, 109, 0.7);
  font-weight:200;
}

tr:nth-child(even){
  font-style: italic;
}

tr {
  border-bottom: 0.1px dashed var(--greyopacity);
  font-size:0.9em;
}
td:nth-child(4){
  text-align: right;
  padding-bottom: 4px;
}

tr:last-child{
  text-align: right;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: none;
}

body tr:first-child td {
  padding-top: 0;
}


/* text styling */
h1{
  font-weight: 500;
  font-size: 1em;
}

a{
  font-weight: 500;
  text-decoration: underline;
}

h2{
  font-weight: 400;
  font-size: 0.9em;
  text-align: left;
  text-indent: 0px;
  padding: 0px 0px;
}

h3{
  padding: 0px 0px;
  font-size:0.9em;
}

p{
  color: black;
}

/* this is the block formating */
.container li {
	background-color: white;
	/* border-bottom: 1px dotted var(--greyopacity); */
  width: 100%;
}




/* this is for archive page */

/* archive */
.archive ul {
display:flex;
flex-wrap: wrap;
max-width:1100px;
margin:0 auto;
}

.archive ul .description{
  display: none;
}

.archive ul .title{
  display: none;
}

/* this is the block formating */
.archive li {
  width:50%;
  text-align:center;
  padding:0.5em;
}
.archive ul#channel-blocks li:nth-child(2n),
.archive ul#channel-blocks li:nth-child(5n) {
  margin-top:2em;
}
.archive ul#channel-blocks li:nth-child(4n) {
  margin-top:1em;
}
.archive li img {
  width:100%;
  cursor:pointer;
}

/* .switch{
  position: fixed;
  z-index: 1;
} */


button#toggleButton {
  /* font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 12px;
  border-radius: 6px;
  border: none;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  cursor:pointer; */
  position: fixed;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  all:revert;
  display: block;
  cursor:pointer;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  background:whitesmoke;
  border: 1px solid var(--grey);
      border-radius: 3px;
      padding: 2px 6px;
      color: var(--grey);
      font-size: .8em;
    font-family: 'EB Garamond';
    font-weight:500;
  }
  button:hover {
  background:#E5E5E5;
  }
  button:active {
  background:#F5F5F5;
  }


.archive {
  padding-top:1em;
}
.archive li.open {
position: fixed;
top: 0;
/* left: 0; */
padding-top:5.5em;
margin: 0 auto !important;
z-index: 1;
display: flex;
width: 100%;
flex-direction: row;
max-width: 1100px;
/* background:lightgrey; */
overflow-y: scroll;
max-height: 100vh;
}

.textcontent .nested_title, .textcontent .nested_description {
  display:none;
}


.archivelist li {
  width:100%;
}
.archivelist li.empty {
  display:none;
}
.archivelist li.content img {
  display: none;
}
.archivelist li.content .nested_title {
  display: block;
  cursor:pointer;
  font-weight:200;
}
.archive li.open .nested_title:hover {
  opacity:1 !important;
}


.emptybg {
  display:none;
  position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    left: 0;
    top: 0;
    z-index: 1;
}

.archive li.open img {
  width:50%;
  height:100%;
  padding-right:0.5em;
}
.archive li.open .textcontent {
  padding:0 0.5em;
  text-align:left;
  display:block;
}
.archive li.open .textcontent .nested_title,
.archive li.open .textcontent .nested_description {
  display:block;
  cursor:default;
}
.archive li.open .textcontent .nested_title {
  font-weight:500;
  margin-bottom:1em;
}
.archive li.open img {
  cursor:default;
}

/* this is the main place for grid formating*/
.about ul {
  list-style-type: none;
  padding: 0px;
  display: grid;
	gap: var(--spacing);
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
  "p p p p p p"
  ". t t t t g"
  ". t t t t ."
  ". k k k k ."
  ". j j j j ."
  ". h h h h .";
  align-items: center;
  justify-items: space-around;
}
.about ul li:nth-child(2) {
  grid-area: k;
  border: 1px dotted var(--greyopacity);
}
.about ul li:nth-child(4) {
  grid-area: p;
  margin: 0 auto;
}
.about ul li:nth-child(4) img {
  cursor: zoom-in;
  max-width: 120vh;
  /* margin-left: 7vw;
  max-width: 67vw; */
}

.about ul li:nth-child(6) {
  grid-area: g;
  border: 1px dotted var(--greyopacity);
}
.about ul li:nth-child(9) {
  grid-area: t;
  border: 1px dotted var(--greyopacity);
}
.about ul li:nth-child(3) {
  grid-area: h;
  border: 1px dotted var(--greyopacity);
}
.about ul li:nth-child(1) {
  grid-area: j;
  border: 1px dotted var(--greyopacity);
}

details summary::-webkit-details-marker {
  display: inline-block
}

details > summary {
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
}

.about p {
  padding-left: 10px;
  padding-right: 10px;
}




footer {
  position: fixed;
  left: 0;
  bottom: 0;
  max-width:var(--maxwidth);
  right:0;
  margin:0 auto;
  user-select:none;
  -webkit-user-select:none;
}

footer p{
  padding: 0.5em;
  color: rgba(109, 109, 109);
  text-align: left;
}


/* @media only screen and (min-width: 900px) {
.about ul {
  width: 60%;
  margin: 0 20%;
}
} */

/* Hide all images by default */
.archive img, .archivelist img {
  display: none;
}

/* If .archivelist is present, no images are shown */
.archivelist img {
  display: none;
}

/* Show low-quality images when .archive is present and not .archivelist */
.archive:not(.archivelist) .lowquality {
  display: block;
}
/* Show low-quality images when .archive.open is present */
.archive li.open .lowquality {
  display: block;
}

/* Hide low-quality images and show high-quality images when .fullscreen is present */
.archive li.fullscreen .lowquality {
  display: none;
}
.archive li.fullscreen .highquality {
  display: block;
}



@media only screen and (max-width:1099px) {
  .archive li.open {
    left:0;
  }
}

/*desktop only */
@media only screen and (min-width:601px) {
  .archivelist li.content .nested_title:hover {
    opacity:0.7;
  }
  .archive li.open img {
    cursor:zoom-in;
  }
  .archive li.fullscreen {
  max-width: 100vw;
    left: 0px;
    padding: 0;
}
.archive li.fullscreen img {
  width: 100%;
    padding: 0px;
    cursor:ns-resize;
}
.archive li.fullscreen .textcontent {
  display:none;
}
}




/* mob only */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  button {
    font-size:1em;
  }
  button#toggleButton {
    transform: none;
    left: auto;
    right: 0.5em;
    top: 0.5em;
  }
  .archive li {
    width: 75%;
    padding:0;
    text-align:left;
    margin-top:1em !important;
  }
  .empty {
    display:none;
  }
  .container ul {
    gap: 1em;
    width: 95%;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(6, auto);
    /* grid-template-areas:
    "t t"
    "p a"
    "g a"
    "h a"
    "h ."
    "c c"
    "f f"; */
    grid-template-areas:
    "t t"
    "p p"
    "a a"
    "g g"
    "h h"
    "c c"
    "f f";
    }


    h2{padding: 0;}
    h3{padding: 0;}


    .container li {
      background-color: white;
      border-bottom: 1px dotted var(--greyopacity);
      width: 100%;
    }

    main {
      max-width:550px;
    }

    .archive li.open {
      flex-direction:column;
      left:0;
      padding: .5em;
    }
    .archive li.open img {
      width: 100%;
      padding:0;
    }
    .archive li.open .textcontent {
      padding:1em 0;
    }
}
