body {
    margin:0;
    background-color: #999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 5px 10px 30px;
  font-size: large;
  text-decoration: none;
}

li a:hover:not(.active) {
  text-decoration: underline;
  text-decoration-style: solid;
}

.active {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.announce {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.announce p{
    color: black;
    text-align: left;

}