
@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url('../fonts/Inter/Inter-VariableFont_opsz_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz_wght.ttf') format('truetype');
}


@font-face {
    font-family: "Volkorn";
    font-style: normal;
    src: url('../fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Volkorn";
    font-style: italic;
    src: url('../fonts/Vollkorn/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
}


@font-face {
    font-family: "Playfair";
    font-style: normal;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Playfair";
    font-style: italic;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}


@font-face {
    font-family: "Dosis";
    font-style: normal;
    src: url('../fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Fredoka";
    font-style: normal;
    src: url('../fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
}