@import "./style.css";

/* @font-face {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('ttf');
    font-style:normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('ttf');
    font-style: italic;
    font-weight: 400;
} */
