
body{
    /* variables */
    --spacing: 1em;
    --global-padding:20px;
    /* --background-color:#66806C; */
    --background-color: whitesmoke;
    --title-color: rgba(188, 0, 0, 0.8);
    --body-text-color: rgba(0, 0, 0, 0.7);
    --link-color: grey;
    --tag-color: rgb(191, 215, 141);

    --global-max-width: 14em;
    --global-min-width: 10em;
    --global-line-height: 2em; 
    background-color: var(--background-color);

    line-height: var(--global-line-height);
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:24px;

    overflow: scroll;
    height: 100vh;
}

h1, h2, h3, strong, mark, article{cursor: text;}
a, .logo, #filterButton, select, em{cursor: pointer;}

h1{ 
    width: var(--global-min-width);
    color: var(--title-color)
}

h2{
    width: var(--global-min-width);
    color: var(--body-text-color);
    text-align: right;
}

h3{    
    color: var(--body-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

em{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

a{color: var(--link-color);}
article{color: var(--body-text-color)}

header{
    position:fixed;
    background-color: none;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: var(--global-padding);
    line-height: 0em;
}

header.open {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    opacity: 1;
}

.logo{
    opacity: 1.0;
}

.logo:hover{
    opacity: 0.5;
}

a:hover{
    opacity: 0.5;
}

.menu-circle {
    margin-left: 2px;
    background-color: black;
    width: 1em; 
    height: 1em;  
    border-radius: 50%; 
    display: none;
}

.menu{
    margin-top: 0.5em;
    margin-top: 3em;

    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

    line-height: 1.1em;
    font-size: 0.9em;

    flex-direction: column;
    justify-content: flex-start;
    position:relative;
    background-color: none;

    width:fit-content;
    height: auto;    
    transition: all 1s ease;
    display: none;
}

.menu a{
    color: black;
}

.menu.open {
    display: flex;
}

.container ul {
    cursor: ew-resize;
    height: 100vh;
    display: flex;
    gap: var(--spacing);
    flex-direction: row;
    padding-left: calc(var(--global-max-width) + var(--global-padding));
    padding-top: var(--global-padding);
    padding-bottom: var(--global-padding);
}

.container ul li{
    flex: 0 0 auto;
    max-width: var(--global-max-width);
    min-width: var(--global-min-width); 
    font-size: 1em;
    line-height: 2em;
    margin-top: 0em;
}

/* .audio, .video, .web{
    border-left: 1px dashed rgb(233, 205, 104);
    border-bottom: 1px dashed rgb(233, 205, 104);
} */

.datetag{
    border-left: 1px dashed rgb(0, 0, 0);
}

.tag{
    color: var(--tag-color);
    line-height: 0.5em!important;
}

.container ul li:last-child{
    padding-right: var(--global-padding);
}

.container ul li:nth-child(odd){
    margin-top: 2em;
}
.container ul li:nth-child(3n){
    margin-top: 4em;
}

/* for start page */

.index ul li:nth-child(odd){
    margin-top: 0em;
}
.index ul li:nth-child(3n){
    margin-top: 2em;
}

footer{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    display: block;
    position:fixed;
    bottom: 0%;
    width: 100%;
    z-index: 1;
    padding: var(--global-padding);
}

.marquee a{
    font-style: italic;
    font-weight:lighter;
    text-decoration: underline;
    color: var(--body-text-color);
    white-space:nowrap;
}

span{
    white-space:nowrap;
    color: rgba(0, 0, 0, 0.9);
}

.slide{
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
}

.slide.open{
    opacity: 1;
    visibility: visible;
}

.marquee {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 1em; /* This is required, adjust as needed */
    display: flex;
    align-items: center;
    white-space: nowrap;
}

mark a{color:red;}

/* The progress container (grey background) */
.progress-container {
    display: block;
    position:fixed;
    display: flex;
    justify-content: space-between;  /* Evenly distribute circles */
    width: 100px;
    left: 50%;
    transform: translate(-50px);
    bottom: var(--global-padding);
  }
  
  /* The circles representing progress indicators */
  .progress-circle {
    margin-bottom: 0.1em;
    background-color: lightgray;
    width: 0.6em;  /* Circle diameter */
    height: 0.6em;  /* Circle diameter */
    border-radius: 50%;  /* Make them round */
    transition: background-color 0.5s ease;  /* Smooth transition */
  }

  .filter{
    position: fixed;
    left: 50%;
    transform: translate(-100px);
    width: 200px;
    bottom: calc(var(--global-padding) + 1em);
    visibility: visible;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .title{
    width: var(--global-min-width);
    min-width: 6em;
    padding-top: 10em!important;
  }

  .description{
    width: var(--global-max-width);
    min-width: 6em;
    padding-top: 10em!important;
  }

/* starts form 16x9 */
@media only screen and (min-width: 1600px) {
    .container ul{
        padding-top: 7%;
    }
  }


    /* mobile */
@media only screen and (max-width: 767px){

    body{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .container ul {
        display: block;
        padding-top: calc(1em + 30px);

        /* padding-top: 1em; */
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
        gap: 0;
    }

    .container ul li {
        line-height: 1.2em!important;
        width: 100%;
        max-width: 100%;
        /* padding-top: 1em!important; */

        margin-top: 0!important;
        padding-bottom: 0em;
    }
    
    .menu{
        line-height: 1.5em!important;
        font-size: 1em;
        margin-top: 2em;
        text-align: left;
        width: auto;
        /* position: fixed;
        left: 50%;
        top: calc(50% - ((1em)*4));
        transform: translate(-50%, -50%); */
    }

    footer {
        padding: 15px;
        font-size: 0.7em!important;
    }

    .filter{
        display: none;
    }

    .title{
        padding-top: 1em!important;
        padding-bottom: 1.5em!important;
        border-left: none;
        border-top: 1px dotted var(--title-color);
        width: 100%;
    }
    
    .description{
        padding-top: 1em!important;
        padding-bottom: 1.5em!important;
        border-top: 1px dotted var(--title-color);
        width: 100%;
        margin-top: 0!important;
    }
    
    .image{
        margin-top: 0!important;
        padding-top: 0em!important;
        padding-bottom: 1.5em!important;
    }

    /* logic for toggle menu */
    .scripture{
        display: none;
        /* display: block; */
    }
    .scripture.open{
        display: block;
    }
    .menu-circle{
        background-color: gray;
        display: block;
        /* display: none; */
    }
    .menu-circle.open{
        display: none;
    }
    .progress-container{
        display: none;
    }

    .marquee a{
        font-size: 0.7em!important;;
    }

    header{
        padding: 15px;
        width: 100%;
        /* top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 75%; */
    }

    .note{
        padding-top: 0.5em!important;
        border-top: none!important;
        width: 100%;
    }

    .logo:hover, a:hover{
        opacity: 1;
    }

    .index ul .image img, .audio img, .video img, .web img{
        display: none;
    }

    .container ul .image img{
        filter: invert(1) grayscale(1);
        padding-top: 1em;
        width: 100%;
        opacity: 0.9;
    }

    .container ul li:last-child{
        padding-bottom: calc(1em + 30px);
    }


    .audio, .video, .web{
        height: auto;
        width: 100%;
    }

    h3{
        display: none;
    }

    h1{
        width: 100%;
    }

    mark, em{
        text-decoration: underline;
        color: red;
        font-size: 0.9em;
    }

    h2{
        text-align: left;
        color: var(--title-color);
    }

    .datetag{
        border-bottom: 1px dotted var(--title-color);
        width: 100%;
    }

    .tag{
        line-height: 0.9em!important;
    }

}